<div class="container">
  <form class="row" action="/users/create" method="POST">
    <div class="mx-lg-auto" style="max-width: 500px; border: 1px solid red">
      <h2 class="my-lg-5">Sign Up Here</h2>
      <div class="col-12">
        <label for="staticEmail2" class="visually-hidden">Email</label>
        <input
          type="text"
          class="form-control"
          name="email"
          id="staticEmail2"
          placeholder="Enter Your Email"
        />
      </div>
      <div class="col-12 mt-3">
        <label for="name" class="visually-hidden">Name</label>
        <input
          type="text"
          class="form-control"
          id="inputPassword2"
          placeholder="Enter Your Name"
          name="name"
        />
      </div>
      <div class="col-12 mt-3">
        <label for="inputPassword2" class="visually-hidden">Password</label>
        <input
          type="password"
          class="form-control"
          id="inputPassword2"
          placeholder="Password"
          name="password"
        />
      </div>
      <div class="col-12 my-5">
        <!-- <button type="submit" class="btn btn-primary mb-3">Sign Up</button> -->
        <input type="submit" value="Sign Up" />
      </div>
    </div>
  </form>
</div>
